body {
	background-color: azure;
	font-family: 'Bree Serif', serif;
	font-size: 1.4em;
}

ul {
	list-style-type: none;
	padding: 0px 10px 0px 10px;
}

#lessonDiv {
	display: inline-block;
	text-align: center;
	margin-bottom: 42px;
	
}

.filterSelect {
	display: block;
	text-align: center;
		margin-bottom: 3%;
}

.filterSelect select {

}

h1 {
	padding: 17px;
	margin-top: -7px;
	text-align: center;
	background-color: #4D3F5f;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}

h4 {
	text-align:center;
}

.center {
	text-align: center;
}

input {
	margin-bottom: 10px;
}

.list-group {
	padding: 0px 5px;
	margin: 0px;
}

.idNumbers {
	font-weight: bold;
	font-size: 1.4em;
	color: #A43726;
}

p {
	font-size: 1.25em;
}

h3{
	color: #655085;
}

#playlists {
	box-shadow: 10px 10px 5px #888888;
	background-color: #DAFFFE;
	border-radius: 10px;
	border: .5px solid gray;
	margin-bottom: 20px;
}

.marginBottom {
	margin-bottom: 20px;
}

#marginTop{
	margin-top: 15px;
}