body {
	background-color: azure;
}

ul {
	list-style-type: none;
	padding: 0px 10px 0px 10px;
}

#lessonDiv {
	display: inline-block;
	text-align: center;

}

.filterSelect {
	display: block;
	text-align: center;
		margin-bottom: 3%;
}

.filterSelect select {

}

h1 {
	padding: 17px;
	margin-top: -7px;
	text-align: center;
	background-color: #4D3F5f;
	color: white;
}

h4 {
	text-align:center;
}

.center {
	text-align: center;
}

input {
	margin-bottom: 10px;
}
