body {
	background-color: azure;
}

ul {
	list-style-type: none;
	padding-left: 0px 10px;
}

#lessonDiv {
	display: inline-block;
}

.filterSelect {
	display: block;
	text-align: center;

}

.filterSelect select {
	border-color: #29f34f;
}